.nav-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-wrap-logo {
  margin-left: 10px;
}

.nav-logo {
  width: 100px;
  height: 50px;
}

.nav-btn-menu .btn-signup {
    width: 200px;
}
.nav-btn-menu .btn-login {
    width: 200px;
}
