* {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 200px;
}

.contact-form {
  margin-top: 20px;
}
